@use '../utils/mixins';
@use '../utils/variables';

// Cards N°1
.container1 {
    display: flex;
    align-items: center;
    width: var(--vw);
    height: var(--vh);

    &[data-animated="true"] {
        @include mixins.mask-gradient-horizontal;

        .scroller {
            width: max-content;
            flex-wrap: nowrap;
            animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
        }
    }

    &[data-direction="right"] {
        --_animation-direction: reverse;
    }

    &[data-direction="left"] {
        --_animation-direction: forwards;
    }

    &[data-speed="fast"] {
        --_animation-duration: 20s;
    }

    &[data-speed="slow"] {
        --_animation-duration: 60s;
    }

    .grid1 {
        position: relative;
        margin: 0;
        padding-inline: 0;
        list-style: none;


        .case1 {
            @include mixins.card(400px, 600px);

            img {
                width: 100%;
                height: 100%;
                border-radius: 12px;
                cursor: pointer;
            }
        }
    }

    .scroller {
        @include mixins.scroller(1rem);
    }
}

// Cards N°2
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    .grid2 {
        display: grid;
        margin-top: calc(var(--vh) / 100);
        margin-bottom: 60px;
        grid-template-columns: repeat(5, auto);
        gap: 1.5rem;

        .case2 {
            @include mixins.card(300px, 400px);
            transition: all variables.$transition-duration ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                cursor: pointer;
            }

            &:hover {
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
                transform: translateY(-5px);
            }
        }
    }
}

// Cards N°3
.grid3 {
    display: none;

    @media (min-width: 2000px) {
        display: block;
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 1000;

        .case3 {
            @include mixins.card(280px, 500px, 4px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }
        .iframe1 {
            @include mixins.card(280px, 500px, 4px);
        }
    }

    @media (min-width: 1000px) and (max-width: 1999px) {
        display: block;
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 1000;

        .case3 {
            @include mixins.card(200px, 400px, 4px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }
        .iframe1 {
            @include mixins.card(200px, 400px, 4px);
        }
    }

    @media (min-width: 768px) and (max-width: 1000px) {
        display: block;
        position: fixed;
        bottom: 40px;
        right: 30px;
        z-index: 1000;

        .case3 {
            @include mixins.card(100px, 300px, 4px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }
        .iframe1 {
            @include mixins.card(100px, 300px, 4px);
        }
    }
}



#popupOverlay {
  position: fixed;       /* Position fixe pour le maintenir à l'écran */
  top: 0;                /* Positionner en haut de l'écran */
  left: 0;               /* Positionner à gauche */
  width: 100vw;          /* Largeur de l'écran */
  height: 100vh;         /* Hauteur de l'écran */
  background: rgba(0, 0, 0, 0.6); /* Fond semi-transparent */
  display: none !important;
  justify-content: center; /* Centrer le contenu horizontalement */
  align-items: center;   /* Centrer le contenu verticalement */
  z-index: 1000;         /* Assurer que l'overlay est au-dessus du reste */
  transition: opacity 0.3s ease; /* Optionnel, ajout de transition pour l'animation d'apparition */
}

#popupContent {
  background: #444;      /* Fond de l'overlay */
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;       /* Largeur maximale de la fenêtre */
  width: 90%;             /* Largeur relative de la fenêtre */
  color: white;
  position: relative;
  max-height: 90vh;       /* Hauteur maximale */
  overflow-y: auto;       /* Ajouter une barre de défilement si le contenu est trop long */
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;             /* Commence avec une opacité à 0 (invisible) */
  transition: opacity 0.3s ease; /* Animation pour rendre l'overlay visible */
}

#popupOverlay.show {
  display: flex;         /* Affiche l'overlay avec un display:flex */
  opacity: 1;            /* Change l'opacité à 1 pour rendre visible */
}

#popupIframe {
  width: 100%;
  height: 315px;
  border: none;
  border-radius: 8px;
}

#closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
